/* https://coolors.co/e63946-f1faee-a8dadc-457b9d-1d3557 */

:root {
  --imperial-red: #e63946;
  --honeydew: #f1faee;
  --power-blue: #a8dadc;
  --celadon-blue: #457b9d;
  --prussian-blue: #1d3557;
}

body {
  background-color: var(--honeydew);
  color: var(--prussian-blue);
}
button {
  background: var(--celadon-blue);
  color: var(--power-blue);
}
.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}

.header {
  font-family: monospace;
  color: var(--imperial-red);
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.header span {
  display: inline-block;
  padding-right: 8px;
}
.wave-animation {
  animation: wave-animation 1s infinite;
}

.bio {
  text-align: center;
  color: var(--celadon-blue);
  margin: 16px 0px;
}
.bio > a {
  color: var(--imperial-red);
  text-decoration: none;
}

.stats {
  margin-bottom: 16px;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}
